<bar-rating [rate]="ratestar" [max]="5" [readOnly]="editable" (rateChange)="ratingChanged($event)">
    <ng-template ratingInactive>
      <fa-icon
        [icon]="['fas', 'star']"
        [fixedWidth]="true"
        size="lg"
        style="color: #d2d2d2"
      ></fa-icon>
    </ng-template>
    <ng-template ratingActive>
      <fa-icon
        [icon]="['fas', 'star']"
        [fixedWidth]="true"
        size="lg"
        [ngClass]="{'color_red': ratestar<3, 'color_yellow' : ratestar>=3, 'color_green' :ratestar===5}"

      ></fa-icon>
    </ng-template>
 
  </bar-rating>