/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color_red
{
    color: red;
}

.color_yellow
{
    color: yellow;
}

.color_green
{
    color: green;
}