<bar-rating [rate]="rate" [max]="5" [readOnly]="editable" (rateChange)="ratingChanged($event)">
    <ng-template ratingInactive>
      <fa-icon
        [icon]="['fas', 'circle']"
        [fixedWidth]="true"
        size="lg"
        style="color: #d2d2d2"
      ></fa-icon>
    </ng-template>
    <ng-template ratingActive>
      <fa-icon
        [icon]="['fas', 'circle']"
        [fixedWidth]="true"
        size="lg"
        [ngClass]="{'color_red': rate<3, 'color_yellow' : rate>=3, 'color_green' :rate===5}"
       
      ></fa-icon>
    </ng-template>
   
  </bar-rating>