:host {
    display: block;
    padding-bottom: 120px;
  }
  
  p {
    font-family: Lato;
  }
  
  .star {
    --br-font-size: 34px;
    --br-active-color: #ed7b67;
    --br-inactive-color: #d2d2d2;
  }
  
  .bar {
    --br-active-color: #17c9c9;
  }
  