:host {
    display: block;
    padding-bottom: 120px;
  }
  
  p {
    font-family: Lato;
  }
  
 
  

  .color_red
{
    color: red;
}

.color_yellow
{
    color: yellow;
}

.color_green
{
    color: green;
}